


.Container, .Presentation, .VideoAndHeros
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Container
{
    width:100%;
    justify-content: flex-start;
    padding-top:200px;
}
.Title
{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'GlikerBoldExpended';
}
.Presentation
{
    width:80%;
}
.Presentation_Txt
{
    line-height: 3rem;
    font-size: 2rem;
}

p
{
    font-size: 1.9rem;
}

img
{
    width:180px;
}


iframe
{
    margin-top:100px;
}

@media screen and (min-width: 900px)
{
    .Container
    {
        width:520px;
    }
    .Presentation_Txt
    {
        font-size: 1rem;
        line-height: 1.9rem;
    }
    p
    {
        font-size: 0.9rem;
    }
    img 
    {
        width:150px;
    }
}

