

.Container
{
    width:90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    padding:10px;
    margin-top:80px;
    font-size: 0.9rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4rem;
    padding-bottom: 100px;
}
.Container h1
{
    font-size: 1.5rem;
}
.Container div
{
    padding:10px;
}

.Container ul 
{
    list-style: square;
}

.Container a
{
    text-decoration: none;
    color:#AAB5C3;
}
.Container a:hover
{
    color:#000;
}

@media screen and (min-width: 800px)
{
    .Container
    {
        width:750px;
    }
}

