{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("CSS/legal.css") }}"/>
{% endblock %}

{% block body %}

<div class="Container">
    <h1>MENTIONS LÉGALES</h1>

    <p>
    Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux 
    utilisateurs du site superdz.fr l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
    </p>
    <h2>Edition du site</h2>
    <p>
    Le présent site, accessible à l’URL https://superdz.fr (le « Site »), est édité par :
    rootc137
    </p>
    <h2>Hébergement</h2>
    <p>Le Site est hébergé par la société 1&1 / IONOS, situé 7 Place de la Gare - 57200 Sarreguemines, (contact téléphonique ou email : (+33) 9 70 80 89 11).</p>
    <h2>Directeur de publication</h2>
    <p>Le Directeur de la publication du Site est rootc137 rootc137.</p>
    <h2>Contact</h2>
    <p>Par email : hello@rootc137.com</p>


</div>
{% endblock %}
